<ul class="">
	
	<% _.each(discounts, function(discount, i, discounts){ %>
		<li class="disc-item" >
			
			<div class="text-bold disc-title"><% if(lang == 'it'){%> <%=discount.title_it%> <%} else {%> <%=discount.title_en%> <% } %> <span class="rest-link clickable" rest-id="<%= discount.place%>"> - <%= discount.place_name %></span></div>
			<div class="disc-desc text-margin"><% if(lang == 'it'){%> <%=discount.description_it%> <%} else {%> <%=discount.description_en%> <%} %></div>
			<div class="disc-time text-margin"> 
				<% if(available){ %>
					<%= discount.available_coupons %> <%= strings.coupons_available_till %> <span class="countdown" end-time="<%= discount.end_time %>"></span>
				<% } else { %>
					<%= strings.expired_at %> <span class="countdown" end-time="<%= discount.end_time %>"></span>
				<% } %>		
			</div>
			
				
			<% _.each(discount.coupons, function(coupon){ %>
				<% if(coupon.deleted){ %>
					<button class="img-btn red-button center" id="buy"><%= strings.buy %></button>
				<% } else { %>
					<div class="coupon">
						<% if(available){ %>
							<div class="text-red-light text-center"> <%= strings.you_have_coupon_code %> <%= coupon.code %></div>
						<% } %>
						<% if(coupon.used){ %>
							<div class="used"> <%= strings.used %></div>
						<% } %>
						<% if(coupon.deleted){ %>
							<div class="deleted"> <%= strings.deleted %></div>
						<% } %>					
						<% if (!coupon.used && !coupon.deleted && available){ %>
							<div class="actions">
								<button class="img-btn red-button use-button" discount-id="<%= discount.key %>" coupon-code="<%= coupon.code %>" id="use"><%= strings.use %></button>
								<button class="img-btn red-button delete-button" id="delete-coupon" discount-id="<%= discount.key %>" coupon-code="<%= coupon.code %>"><%= strings.delete %></button>
							</div>
						<% } %>
					</div>
				<% } %>
				
			<% }); %>
					
		</li>
		<% if(i+1 < discounts.length){ %> 
			<li class="separator"></li>
		<% } %>
	
	<% }); %>


</ul>
