<ul>

	<% _.each(discounts, function(discount, i){ %>
		<li class="disc-item <% if(i%2 == 0){ %> even <% } else { %> odd <% } %>" >
			
			<div class="desc disc-clickable" discount-id="<%= discount.key %>">
				<h4 class="title"><% if(lang == 'it'){%> <%=discount.title_it%> <%} else {%> <%=discount.title_en%> <% } %></h4>
				<p> 
					<% if(available){ %>
						<%= strings.available_till %> <span class="countdown" end-time="<%= discount.end_time %>"></span>
					<% } else { %>
						<%= strings.expired_at %> <span class="countdown" end-time="<%= discount.end_time %>"></span>
					<% } %>
					 
				</p>
			</div>
			<div class="coupon-num">
				<%= strings.coupons %> <br/><span class="num"> <%= discount.available_coupons %> / <%= discount.num_coupons%></span>
			</div>
			<div class="actions">
				<% if(owner){ %>
					<% if(actions){ %>
						<% if(available){ %>
							<button class="img-btn red-button edit" discount-id="<%= discount.key %>"><%= strings.edit %></button>
							<button class="img-btn red-button <% if(discount.published){ %> disabled <% } %> publish" discount-id="<%= discount.key %>"><%= strings.publish %></button>
							<button class="img-btn red-button <% if(discount.published){ %> disabled <% } %> delete" discount-id="<%= discount.key %>"><%= strings.delete %></button>
						<% } else { %>
							<button class="img-btn red-button new-similar" discount-id="<%= discount.key %>"><%= strings.new_similar %></button>
						<% } %>
						
					<% } %>
				<% } else { %>
					<% if(discount.coupons != undefined && discount.coupons.length > 0){ %>
						<button class="img-btn red-button see" discount-id="<%= discount.key %>"><%= strings.see_coupon %></button>
					<% } else if(available){ %>
						<button class="img-btn red-button buy" discount-id="<%= discount.key %>"><%= strings.buy %></button>
					<% } %>
				<% } %>
			</div>
			
			
			<div class="clear-float"></div>
			
			
			<!--  -->
			
			<!-- <div class="disc-item-ext">
				<p class="description"><% if(lang == 'it'){%> <%=discount.description_it%> <%} else {%> <%=discount.description_en%> <% } %></p>
				
				<p>Other language:</p>
				<p><% if(lang == 'it'){%> <%=discount.title_en%> <%} else {%> <%=discount.title_it%> <% } %></p>
				<p><% if(lang == 'it'){%> <%=discount.description_en%> <%} else {%> <%=discount.description_it%> <% } %></p>
				
				
				<% if(owner){ %>
				<div class="coupons">
					<h4> Coupons</h4> 
					<% _.each(discount.coupons, function(coupon){ %>
						<div>
							<p> Code: <%= coupon.code %></p>
							<p>Status: <% if(coupon.deleted){ %> Deleted <%} else if(coupon.used){ %> Used <% } else { %> Not used yet <% } %> </p>
							<button class="img-btn red-button" id="use" discount-id="<%= discount.key %>" coupon-code="<%= coupon.code%>">Use</button>
						</div>
					<% }) %>
				</div>
			
			<% } %>
				
			</div> -->
		</li>
		
	
	<% }) %>


</ul>
