<div class="popup-background new-rest-popup">
	<div class="popup-foreground popup-scrollable">
		<button class="img-btn close" id="close-popup"></button>
		<h3><%= strings.title %></h3>

		<div class="rest-item">
			<div class="rest-details">
				<div class="text-100 red-text name">
					<input class="my-input-text" type="text" id="rest-name" placeholder="<%= strings.name_placeholder %>"/>
				</div>
				<div class="text-100 red-text address" >
					<input class="my-input-text" type="text" name="auto-city" id="rest-address" >
					<input type="hidden" name="street_number" id="street_number" />
					<input type="hidden" name="route" id="route" />
					<input type="hidden" name="locality" id="locality" /> 
					<input type="hidden" name="administrative_area_level_2" id="administrative_area_level_2" /> 
					<input type="hidden" name="country" id="country"/>
					<input type="hidden" name="lat" id="lat"/>
					<input type="hidden" name="lon" id="lon"/>
				</div>
				<div class="text-100 red-text"> 
					<input class="my-input-text" type="text" id="rest-picture" placeholder="<%= strings.picture_placeholder %>">
					<img class="rest-image">
				</div>
			</div>
			<div class="rest-ratings">
				<div class="text-100 red-text">
					<small><%= purpose.tourists %></small>
				</div>
				<div class="purpose-buttons">
					<img class="purpose-icon"
						src="/static/images/ratings/guest_selected.png">
					<button class="rating rating-btn noidea"
						 purpose="dinner with tourists"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notknow %>" value="0"></button>
					<button class="rating rating-btn bad"
						 purpose="dinner with tourists"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notlike %>" value="1"></button>
					<button class="rating rating-btn neutral"
						 purpose="dinner with tourists"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_neutral %>" value="3"></button>
					<button class="rating rating-btn happy"
						 purpose="dinner with tourists"
						data-toggle="tooltip" data-placement="bottom" title="<%= purpose.tips_like %>"
						value="5"></button>
				</div>


				<small class="text-100 red-text"><%= purpose.partner %></small>
				<div class="purpose-buttons">
					<img class="purpose-icon"
						src="/static/images/ratings/romantic_selected.png">
					<button class="rating rating-btn noidea"
						 purpose="romantic dinner"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notknow %>" value="0"></button>
					<button class="rating rating-btn bad"
						 purpose="romantic dinner"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notlike %>" value="1"></button>
					<button class="rating rating-btn neutral"
						 purpose="romantic dinner"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_neutral %>" value="3"></button>
					<button class="rating rating-btn happy"
						 purpose="romantic dinner"
						data-toggle="tooltip" data-placement="bottom" title="<%= purpose.tips_like %>"
						value="5"></button>
				</div>

				<small class="text-100 red-text"><%= purpose.friends %></small>
				<div class="purpose-buttons">
					<img class="purpose-icon"
						src="/static/images/ratings/friends_selected.png">
					<button class="rating rating-btn noidea"
						 purpose="dinner with friends"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notknow %>" value="0"></button>
					<button class="rating rating-btn bad"
						 purpose="dinner with friends"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notlike %>" value="1"></button>
					<button class="rating rating-btn neutral"
						 purpose="dinner with friends"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_neutral %>" value="3"></button>
					<button class="rating rating-btn happy"
						 purpose="dinner with friends"
						data-toggle="tooltip" data-placement="bottom" title="<%= purpose.tips_like %>"
						value="5"></button>
				</div>

				<small class="text-100 red-text"><%= purpose.price_quality %></small>
				<div class="purpose-buttons">
					<img class="purpose-icon"
						src="/static/images/ratings/lunch_selected.png">
					<button class="rating rating-btn noidea"
						 purpose="best price/quality ratio"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notknow %>" value="0"></button>
					<button class="rating rating-btn bad"
						 purpose="best price/quality ratio"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_notlike %>" value="1"></button>
					<button class="rating rating-btn neutral"
						 purpose="best price/quality ratio"
						data-toggle="tooltip" data-placement="bottom"
						title="<%= purpose.tips_neutral %>" value="3"></button>
					<button class="rating rating-btn happy"
						 purpose="best price/quality ratio"
						data-toggle="tooltip" data-placement="bottom" title="<%= purpose.tips_like %>"
						value="5"></button>
				</div>

			</div>
			<div>
				<button class="img-btn save"><%= strings.save %></button>
			</div> 
		</div>
	</div>
</div>