<li class="rest-item">
	<div class="rest-details">
		<div class="text-bold name"><%= rest.name %></div>
			<div class=" address">
				<%= rest.address.street %>, <%= rest.address.city %>
			</div>

			<% if(rest.picture && rest.picture.length > 0 && rest.picture != 'null'){ %> 
				<img class="rest-image" src="<%= rest.picture %>" /> 
			<% } else { %> 
				<img class="rest-image" src="/static/images/empty_small.png" /> 
			<% } %>
		</div>
		<div class="rest-ratings">
			<p><%= strings.tourists %></p>
			<div class="purpose-buttons">
				<div class="purpose-icon"
					style="background-image: url(/static/images/ratings/guest_selected.png)"></div>
				<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['dinner with tourists'] == 0){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notknow %>" value="0"></button>
				<button class="rating rating-btn bad <% if(ratings != undefined && ratings['dinner with tourists'] == 1){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notlike %>" value="1"></button>
				<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['dinner with tourists'] == 3){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_neutral %>" value="3"></button>
				<button class="rating rating-btn happy <% if(ratings != undefined && ratings['dinner with tourists'] == 5){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom" title="<%= strings.tips_like %>"
					value="5"></button>
			</div>


			<p><%= strings.partner %></p>
			<div class="purpose-buttons">
				<div class="purpose-icon"
					style="background-image: url(/static/images/ratings/romantic_selected.png)"></div>
				<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['romantic dinner'] == 0){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notknow %>" value="0"></button>
				<button class="rating rating-btn bad <% if(ratings != undefined && ratings['romantic dinner'] == 1){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notlike %>" value="1"></button>
				<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['romantic dinner'] == 3){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_neutral %>" value="3"></button>
				<button class="rating rating-btn happy <% if(ratings != undefined && ratings['romantic dinner'] == 5){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom" title="<%= strings.tips_like %>"
					value="5"></button>
			</div>

			<p><%= strings.friends %></p>
			<div class="purpose-buttons">
				<div class="purpose-icon"
					style="background-image: url(/static/images/ratings/friends_selected.png)"></div>
				<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['dinner with friends'] == 0){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notknow %>" value="0"></button>
				<button class="rating rating-btn bad <% if(ratings != undefined && ratings['dinner with friends'] == 1){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notlike %>" value="1"></button>
				<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['dinner with friends'] == 3){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_neutral %>" value="3"></button>
				<button class="rating rating-btn happy <% if(ratings != undefined && ratings['dinner with friends'] == 5){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom" title="<%= strings.tips_like %>"
					value="5"></button>
			</div>

			<p><%= strings.price_quality %></p>
			<div class="purpose-buttons">
				<div class="purpose-icon"
					style="background-image: url(/static/images/ratings/lunch_selected.png)"></div>
				<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['best price/quality ratio'] == 0){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notknow %>" value="0"></button>
				<button class="rating rating-btn bad <% if(ratings != undefined && ratings['best price/quality ratio'] == 1){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_notlike %>" value="1"></button>
				<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['best price/quality ratio'] == 3){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom"
					title="<%= strings.tips_neutral %>" value="3"></button>
				<button class="rating rating-btn happy <% if(ratings != undefined && ratings['best price/quality ratio'] == 5){ %> selected <% } %>"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom" title="<%= strings.tips_like %>"
					value="5"></button>
			</div>

		</div>
	</div>
</li>