<li class="rest-item white-background shadow">
	<div class="rest-details">
		<% if(rest.picture && rest.picture.length > 0 && rest.picture != 'null'){ %> 
			<div class="rest-image" style="background-image:url(<%= rest.picture %>)" /> 
		<% } else { %> 
			<div class="rest-image" style="background-image:url(/static/images/empty_small.png)" /> 
		<% } %>
		<div class="text-big text-bold name"><%= rest.name %></div>
		<div class="address text-margin">
			<%= rest.address.street %>, <%= rest.address.city %>
		</div>
			
	</div>
		<div class="rest-ratings">
			<div class="left-rows">
			<div class="row">
				<div class="left-purpose tourists">
					<div class="purpose-icon"></div>
					<div class="purpose-text"><%= strings.tourists_short %></div>
				</div>
				<div class="right-ratings">
					<div class="title tourists">
						<%= strings.how_experience %>
					</div>
					<div class="rating-buttons">
						<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['dinner with tourists'] == 0){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with tourists"
							 value="0"></button>
						<button class="rating rating-btn bad <% if(ratings != undefined && ratings['dinner with tourists'] == 1){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with tourists"
							 value="1"></button>
						<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['dinner with tourists'] == 3){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with tourists"
							 value="3"></button>
						<button class="rating rating-btn happy <% if(ratings != undefined && ratings['dinner with tourists'] == 5){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with tourists"
							value="5"></button>
					</div>
				</div>
			
			</div>
			
			
			<div class="row">
				<div class="left-purpose partner">
					<div class="purpose-icon"></div>
					<div class="purpose-text"><%= strings.partner_short %></div>
				</div>
				<div class="right-ratings">
					<div class="title partner">
						<%= strings.how_experience %>
					</div>
					<div class="rating-buttons">
						<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['romantic dinner'] == 0){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="romantic dinner"
							 value="0"></button>
						<button class="rating rating-btn bad <% if(ratings != undefined && ratings['romantic dinner'] == 1){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="romantic dinner"
							 value="1"></button>
						<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['romantic dinner'] == 3){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="romantic dinner"
							 value="3"></button>
						<button class="rating rating-btn happy <% if(ratings != undefined && ratings['romantic dinner'] == 5){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="romantic dinner"
							value="5"></button>
					</div>
				</div>
			
			</div>
			</div>
			
			<div class="right-rows">
			<div class="row">
				<div class="left-purpose friends">
					<div class="purpose-icon"></div>
					<div class="purpose-text"><%= strings.friends_short %></div>
				</div>
				<div class="right-ratings">
					<div class="title friends">
						<%= strings.how_experience %>
					</div>
					<div class="rating-buttons">
						<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['dinner with friends'] == 0){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with friends"
							 value="0"></button>
						<button class="rating rating-btn bad <% if(ratings != undefined && ratings['dinner with friends'] == 1){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with friends"
							 value="1"></button>
						<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['dinner with friends'] == 3){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with friends"
							 value="3"></button>
						<button class="rating rating-btn happy <% if(ratings != undefined && ratings['dinner with friends'] == 5){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="dinner with friends"
							value="5"></button>
					</div>
				</div>
			
			</div>
			
			<div class="row">
				<div class="left-purpose price-quality">
					<div class="purpose-icon"></div>
					<div class="purpose-text"><%= strings.price_quality_short %></div>
				</div>
				<div class="right-ratings">
					<div class="title price-quality">
						<%= strings.how_experience %>
					</div>
					<div class="rating-buttons">
						<button class="rating rating-btn noidea <% if(ratings != undefined && ratings['best price/quality ratio'] == 0){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="best price/quality ratio"
							value="0"></button>
						<button class="rating rating-btn bad <% if(ratings != undefined && ratings['best price/quality ratio'] == 1){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="best price/quality ratio"
							 value="1"></button>
						<button class="rating rating-btn neutral <% if(ratings != undefined && ratings['best price/quality ratio'] == 3){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="best price/quality ratio"
							 value="3"></button>
						<button class="rating rating-btn happy <% if(ratings != undefined && ratings['best price/quality ratio'] == 5){ %> selected <% } %>"
							place_id="<%= rest.key %>" purpose="best price/quality ratio"
							value="5"></button>
					</div>
				</div>
			
			</div>
			</div>
			<div class="clear-float"></div>
		
		</div>
	</div>
</li>