<li class="rest-item">
	<div class="rest-details">
		<div class="text-100 red-text name"><%= rest.name %></div>
			<div class="text-100 red-text address">
				<small> <%= rest.address.street %>, <%= rest.address.city %></small>
			</div>

			<% if(rest.picture && rest.picture.length > 0 && rest.picture != 'null'){ %> 
				<img class="rest-image" src="<%= rest.picture %>" /> 
			<% } else { %> 
				<img class="rest-image" src="/static/images/empty_small.png" /> 
			<% } %>
		</div>
		<div class="rest-ratings">
			<div class="text-100 red-text">
				<small>For a dinner with visitors</small>
			</div>
			<div class="purpose-buttons">
				<img class="purpose-icon"
					src="/static/images/ratings/guest_selected.png">
				<button class="rating rating-btn noidea"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom"
					title="I have never been here for this purpose" value="0"></button>
				<button class="rating rating-btn bad"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom"
					title="I do not like it" value="1"></button>
				<button class="rating rating-btn neutral"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom"
					title="I am neutral" value="3"></button>
				<button class="rating rating-btn happy"
					place_id="<%= rest.key %>" purpose="dinner with tourists"
					data-toggle="tooltip" data-placement="bottom" title="I like it"
					value="5"></button>
			</div>


			<small class="text-100 red-text">For a romantic dinner
				with the partner</small>
			<div class="purpose-buttons">
				<img class="purpose-icon"
					src="/static/images/ratings/romantic_selected.png">
				<button class="rating rating-btn noidea"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom"
					title="I have never been here for this purpose" value="0"></button>
				<button class="rating rating-btn bad"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom"
					title="I do not like it" value="1"></button>
				<button class="rating rating-btn neutral"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom"
					title="I am neutral" value="3"></button>
				<button class="rating rating-btn happy"
					place_id="<%= rest.key %>" purpose="romantic dinner"
					data-toggle="tooltip" data-placement="bottom" title="I like it"
					value="5"></button>
			</div>

			<small class="text-100 red-text">For a dinner with friends</small>
			<div class="purpose-buttons">
				<img class="purpose-icon"
					src="/static/images/ratings/friends_selected.png">
				<button class="rating rating-btn noidea"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom"
					title="I have never been here for this purpose" value="0"></button>
				<button class="rating rating-btn bad"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom"
					title="I do not like it" value="1"></button>
				<button class="rating rating-btn neutral"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom"
					title="I am neutral" value="3"></button>
				<button class="rating rating-btn happy"
					place_id="<%= rest.key %>" purpose="dinner with friends"
					data-toggle="tooltip" data-placement="bottom" title="I like it"
					value="5"></button>
			</div>

			<small class="text-100 red-text">For a lunch break</small>
			<div class="purpose-buttons">
				<img class="purpose-icon"
					src="/static/images/ratings/lunch_selected.png">
				<button class="rating rating-btn noidea"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom"
					title="I have never been here for this purpose" value="0"></button>
				<button class="rating rating-btn bad"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom"
					title="I do not like it" value="1"></button>
				<button class="rating rating-btn neutral"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom"
					title="I am neutral" value="3"></button>
				<button class="rating rating-btn happy"
					place_id="<%= rest.key %>" purpose="best price/quality ratio"
					data-toggle="tooltip" data-placement="bottom" title="I like it"
					value="5"></button>
			</div>

		</div>
	</div>
</li>