<div class="popup-background settings-popup">
	<div class="popup-foreground popup-scrollable">
		<button class="img-btn close" id="close-popup"></button>
		<h3><%= strings.title %></h3>
		
		<form action="/settings" method="post">
		
			<div>
				<label class="form-label"><%= strings.purpose %>: </label>
				<div class="form-input">
					<select id="purpose" name="purpose" required>
						<option value="dinner with tourists" <%= settings.purpose == 'dinner with tourists' ? 'selected' : '' %> > <%= strings.tourists %> </option>
						<option value="romantic dinner" <%= settings.purpose == 'romantic dinner' ? 'selected' : '' %> > <%= strings.partner %> </option>
						<option value="dinner with friends" <%= settings.purpose == 'dinner with friends' ? 'selected' : '' %> > <%= strings.friends %> </option>
						<option value="best price/quality ratio" <%= settings.purpose == 'best price/quality ratio' ? 'selected' : '' %> > <%= strings.price_quality %> </option>
					</select>
					<p class="form-explanation"><%= strings.purpose_help %></p>
				</div>
			</div>
		
			<div>
				<label class="form-label"><%= strings.max_distance %>: </label>
				<div class="form-input"><input type="number" id="max_distance" name="max_distance"
					value="<%= settings.max_distance %>">
				</div>
			</div>
			
			<div>
				<label class="form-label"><%= strings.num_places %>: </label>
				<div class="form-input"><input type="number" id="num_places" name="num_places"
					value="<%= settings.num_places %>">
				</div>
			</div>
			<input type="button" class="img-btn save" value="<%= strings.save_reload %>" />
		</form>
	</div>
</div>