<div class="popup-background settings-popup">
	<div class="popup-foreground popup-scrollable">
		<button class="img-btn close" id="close-popup"></button>
		<div class="text-center text-title"><%= strings.title %></div>
		
		<div class="separator"></div>
		
		
		
			<div class="form-line">
				<div class="text-all-capital"><%= strings.purpose %> </div>
				<p class="form-explanation"><%= strings.purpose_help %></p>
				<div>
					<div class="purpose-line tourists">
						<div class="purpose-icon"></div>
						<div class="purpose-text"><%= strings.tourists %></div>
						<button class="img-btn purpose-btn <%= settings.purpose == 'dinner with tourists' ? 'selected' : '' %>" purpose="dinner with tourists"><div class="icon"></div></button>
					</div>
					<div class="purpose-line partner">
						<div class="purpose-icon"></div>
						<div class="purpose-text"><%= strings.partner %></div>
						<button class="img-btn purpose-btn <%= settings.purpose == 'romantic dinner' ? 'selected' : '' %>" purpose="romantic dinner"><div class="icon"></div></button>
					</div>
					<div class="purpose-line friends">
						<div class="purpose-icon"></div>
						<div class="purpose-text"><%= strings.friends %></div>
						<button class="img-btn purpose-btn <%= settings.purpose == 'dinner with friends' ? 'selected' : '' %>" purpose="dinner with friends"><div class="icon"></div></button>
					</div>
					<div class="purpose-line price-quality">
						<div class="purpose-icon"></div>
						<div class="purpose-text"><%= strings.price_quality %></div>
						<button class="img-btn purpose-btn <%= settings.purpose == 'best price/quality ratio' ? 'selected' : '' %>" purpose="best price/quality ratio"><div class="icon"></div></button>
					</div>
				</div>
				<input type="hidden" id="purpose" value="<%= settings.purpose %>"/>
			</div>
		
			<div class="form-line">
				<div class="text-all-capital"><%= strings.max_distance %> </div>
				<div class="form-input"><input type="number" id="max_distance" name="max_distance"
					value="<%= settings.max_distance %>">
				</div>
			</div>
			
			<div class= form-line>
				<div class="text-all-capital"><%= strings.num_places %> </div>
				<div class="form-input"><input type="number" id="num_places" name="num_places"
					value="<%= settings.num_places %>">
				</div>
			</div>
			<button class="img-btn red-button save center" ><%= strings.save_reload %></button>
		
	</div>
</div>